.userslist{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow-y: hidden;
    background-color: slategray;
}

.userslist__inner{
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    width: 70%;
    height: 100vh;
    background-color: white;

    padding: 20px;
    outline: 20px solid black;
}

.userslist__inner__title{
    margin: 20px;
    border-bottom: 2px solid black;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #0d9800;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

#search_cred{
    margin-top: 60px;
    border: none;
    border-bottom: 2px solid black; 
    font-size: 20pt;
    width: 400px;
}

input:focus, textarea { outline: none ! important; }