.profile{
    width: 100vw;
    height: 100vh;
}

.navbar__nav{
    height: 50px;
    width: 100%;
    background-color: slategray;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.navbar__nav__link{
    text-decoration: none;
    padding: 10px;
    float: left;
    color: black;
}

.navbar__nav__item{
    width: 80px;
    text-decoration: none;
    float: left;
    padding:10px;
    margin-left: 5px;
    border-left: 1px solid rgb(65, 65, 65);
    text-align: center;
}

.navbar__nav__item__link{
    text-decoration: none;
    color: greenyellow;
}

.footer{
    position: relative;
    bottom: 0;
    text-align: center;
    height: 30px;
    width: 100%;
    background-color: #CCCCCC;
}

.main{
    background-color: teal;
    height: 92%;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
}

.main__left{
    height: 98%;
    width: 15%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main__middle{
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow-y: scroll;

    width: 70%;
    height: 100%;
    background-color: white;
}
.main__right{
    height: 98%;
    width: 15%;
    margin: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}